* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Adwaita Sans, Symbols Nerd Font Mono, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(45, 53, 59, 0.0);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #2D353B;
    text-shadow: 1px 1px 2px white;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button{
    color: #2D353B;

}
window#waybar.hidden {
    opacity: 0.2;
}

label.module {
    padding: 0 5px;
}
