snippet plans
= ${1:Titulo}

== Contenidos y Procesos de Aprendizje

====
${2:Contenidos}
====
'''
====
- *No. de sesiones:* ${3:sesiones}
- *Páginas:* ${4:paginas}
- *Consideraciones previas:*
${5:consideracioens}
- *Evaluación:*
    - Cuaderno
    - Avances en el portafolios
====

== Inicio
$0

== Desarrollo

== Cierre


endsnippet

snippet sec
.${1:titulo si aplica}
****
$0
****
'''

endsnippet
